---
---

<section
	data-testid="about"
	id="about"
	class="mb-4 flex flex-col items-center justify-center lg:mb-0 lg:h-56 lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-purple lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-purple"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2 text-xl">
			My name is Victor Balogun, I am a 20 year old Software Developer based in Lagos Nigeria, and
			currently doing full-stack web development. I am an enthusist for creating solutions, and very
			passionate about deveoping myself and my skills.
			<!-- For my stack, I majorly use
			Javascript/Typescript for my projects, and also have experience with other languages like
			python and php, I am experienced with React and Next.js, and use frameworks/tools like
			tailwind css and Astro.js in my stack for frontend, while I use Node.js with express.js for
			building backend and api's. The rest of my stack constists of tools like postgreSQL, MySQL &
			mongoDB as my database choices, supabase, firebase, vercel and aws for hosting. -->
		</p>
	</div>
</section>
