---
import portrait from '@assets/images/portrait.jpg';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hello! My name is <span class="text-purple">Victor Balogun</span>, and i'm a software
				developer.
			</h1>
		</div>
		<div class="mb-10">
			<Button style={'primary'} size={'lg'} class={'flex'} name="learn more">Learn more</Button>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={portrait}
			alt="Coding girl"
			aspectRatio="4:4"
			format="jpg"
			width={400}
			height={400}
			loading="eager"
			class="rounded-full"
		/>
	</div>
</section>
